body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 500px;
	left: 600px;
}

.positioner {
	position: absolute;
	top: 0;
	left: 0;
}

.container:hover .positioner {
	left: 150px;
	top: 100px;
}

.container:hover {
	left: 450px;
	top: 400px;
	height: 237px;
	width: 234px;

}

.apb {
	width: 28px;
	height: 20px;
	padding: 10px 6px;
	border-radius: 50%;
	overflow: hidden;
	color:#FFF;
	background-color: rgba(48, 63, 159, 0.5);
	text-align: center;
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.api {
	width: 69px;
	height: 47px;
	padding: 20px 9px;
	border-radius: 50%;
	overflow: hidden;
	color: #FFF;
	background-color: rgba(48, 63, 159, 0);
	text-align: center;
	position: absolute;
	left: -19px;
	top: -19px;
	visibility: hidden;
	z-index: -1;
	-webkit-transform: scale(0.37,0.37);
	transform: scale(0.37,0.37);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.sum {
	width: 136px;
	height: 136px;
	border-radius: 50%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	color: #FFF;
	text-align: center;
	position: absolute;
	left: -43px;
	top: -43px;
	visibility: hidden;
	-webkit-transform: scale(0.01,0.01);
	transform: scale(0.01,0.01);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: -1;
}

.button {
	width: 22px;
	height: 22px;
	padding: 10px;
	background-color: rgba(48,63,159,1);
	border-radius: 50%;
	color: #079E6E;
	text-align: center;
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	visibility: hidden;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: -1;
}

.container:hover .apb {
	z-index: -1;
	-webkit-transform: scale(2,2);
	transform: scale(2,2);
	background-color: rgba(48,63,159,0);
	visibility: hidden;
}

.container:hover .api {
	z-index: 1;
	background-color: rgba(48,63,159,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	visibility: visible;
}



.container:hover .sum {
	visibility: visible;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	top: -170px;
}

.container:hover .button {
	visibility: visible;
	-webkit-transition: 0.5s;
	transform: scale(1,1);
}

.container:hover .mask {
	top: -50px;
	left: -70px;
}

.container:hover .history {
	top: 0px;
	left: -100px;
}

.container:hover .message {
	top: 50px;
	left: -72px;
}

.container:hover .setting {
	top: 90px;
	left: -20px;
}

.container:hover .sign {
	top: 80px;
	left: 40px;
}

.user {
	margin: 0;
	padding: 10px 0 0;

}
.comment {
	font-size: 1.5em;
	font-weight: bolder;
	padding: 10px 0;
	margin: 0;
}

.mine {
	display: inline;
	color: #079E6E;
	padding: 0 0 10px;
	margin: 0;
	font-weight: bold;

}

.adder {
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 2px 0 0 0;
	top: -5px;
	text-align: center;
	background-color: rgba(230,10,10,1);
	color: white;
	border-radius: 50%;
	visibility: hidden;
}

.container:hover .show {
	visibility: visible;
}

.container:hover .disable {
	background-color: rgba(0,0,0,0.6);
}