#control-ring-container
  ul#control-ring
    li.button 
      span.title A
      span.unread 
    li.button
      span.title B
      span.unread 
    li.button 
      span.title C
      span.unread 
    li.button 
      span.title D
      span.unread 
    li.button 
      span.title E
      span.unread 