
 li {
    list-style-type: none;
}
.pp {
	webkit-transition-property: width, height, background, border-radius, left, bottom, opacity, position;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
    /* Standard syntax */
    transition-property: width, height, background, border-radius, left, bottom, opacity, position;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}
.mask, .history, .message, .setting, .sign, .mask {
	webkit-transition-property: width, height, background, border-radius, left, bottom, opacity, position;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.1s;
    /* Standard syntax */
    transition-property: width, height, background, border-radius, left, bottom, opacity, position;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.1s;
}
.comment, .like, .user, .user span, .posted {
	webkit-transition-property: width, height, background, border-radius, left, bottom, opacity, position;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0.0s;
    /* Standard syntax */
    transition-property: width, height, background, border-radius, left, bottom, opacity, position;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0.0s;
}
.user {
	position: absolute;
    left: 350px;
    bottom: 150px;
    width: 30px;
	height: 30px;
	border-radius: 15px;
	background: red;
	opacity: 0;
}
.comment {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity: 0;
}
.posted {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity: 0;
}
.like {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity: 0;
}
.mask {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity:0;
}
.history {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity:0;
}
.message {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity:0;
}
.unread {
	display: block;
	position: relative;
    text-align: center;
	left: 25px;
	bottom: 5px;
	font-size: 10pt;
	font-family: sans-serif;
	font-weight: bolder;
	width: 15px;
	height: 15px;
	border-radius: 7.5px;
	color: white;
	background: red;
}
.setting {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity:0;
}
.sign {
	position: absolute;
    left: 350px;
    bottom: 150px;
    opacity:0;
}
.button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: blue;
}
.button img{
     position: relative;
     left: 8px;
     bottom: -8px;
}
.user span {
    font-family: Sans-serif;
	font-size: 15pt;
	font-weight: bolder;
	color: white;
	margin: 5px;
	}
.comment span{
    font-family: Sans-serif;
	font-size: 20pt;
	font-weight: bolder;
	color: white;
	margin: 5px;
}
	.mine span {
		font-size: 15pt;
		font-family: sans-serif;
		font-weight: bold;
		margin: 3px;
		color: #079E6E;
	}

.pp {
	position: absolute;
	left: 350px;
	bottom: 150px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
    background: gray;
    background-repeat: no-repeat;
     background-position: center;
    background-image: url("./assets/images/atplus_white.png");
}
#at-plus-container:hover .mask {
     position:  absolute;
     left: 270px;
     bottom: 190px;
     opacity: 1.0;
}

#at-plus-container:hover .history {
     position:  absolute;
     left: 260px;
     bottom: 140px;
     opacity: 1.0;
}
#at-plus-container:hover .message {
     position: absolute;
     left: 290px;
     bottom: 100px;
     opacity: 1.0;
}
#at-plus-container:hover .setting {
     position:  absolute;
     left: 330px;
     bottom: 80px;
     opacity: 1.0;
}
#at-plus-container:hover .sign {
     position:  absolute;
     left: 380px;
     bottom: 85px;
     opacity: 1.0;
}
.user img {
	position: relative;
	left: 45px;
	bottom: -15px;
}
.user span {
	position: relative;
	left: 45px;
	bottom: -15px;
}
#at-plus-container:hover .user {
	position: absolute;
	left: 290px;
    bottom: 215px;
	width: 140px;
	height: 140px;
	border-radius: 70px;
	background: rgba(56, 56, 56, 0.9);
	opacity: 1.0;
}
#at-plus-container:hover .comment {
	position: absolute;
	left: 320px;
    bottom: 275px;
    opacity: 1.0;
}
#at-plus-container:hover .like {
	position: absolute;
	left: 370px;
    bottom: 240px;
    opacity: 1.0;
}
#at-plus-container:hover .posted {
	position: absolute;
	left: 310px;
    bottom: 241.5px;
    opacity: 1.0;
}
#at-plus-container:hover .pp {
    color: green;
    background: blue;
}
#at-plus-container:hover .pp {
    position: absolute;
    left: 330px;
    bottom: 130px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/images/atplus_green.png");
    opacity: 1.0;
}