/*
* @Author: anchen
* @Date:   2014-10-18 18:31:40
* @Last Modified by:   anchen
* @Last Modified time: 2014-10-21 16:00:24
*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Lucida Console", serif;
}
ul {
    list-style-type: none;
}

#at-plus-container {
    background-image: url("assets/images/atplus_white.png");
    background-color: rgba(0, 0, 0, 0.4);
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: fixed;
    margin: auto auto 4em;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
}
#at-plus-container:hover {
    background-image: url("assets/images/atplus_green.png");
    background-color: rgba(48, 63, 159, 1);
    width: 4em;
    height: 4em;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
}
#bottom-positioner {
    width: 0em;
    height: 0em;
    position: absolute;
    bottom: 1.25em;
    right: 1.25em;
    opacity: 0.0;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    -ms-transition: 0.7s;
}
#at-plus-container:hover > * {
    width: 12em;
    height: 12em;
    position: absolute;
    bottom: -4em;
    right: -4em;
    opacity: 1.0;
}

#info-bar {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75%;
    margin: 0 auto;
}
.page {
    position: absolute;
    font-weight: 800;
    color: white;
}
.user {
    top: 7%;
    left: 37%;
    font-size: 135%;
}
.comment {
    top: 31%;
    left: 32%;
    font-size: 230%;
}
.mine {
    position: absolute;
    font-size: 135%;
    color: #079E6E;
    font-weight: 800;
}
.posted {
    bottom: 10%;
    left: 20%;
}
.like {
    bottom: 10%;
    right: 16%;
}

#control-ring-container {
    height: 100%;
    width: 100%;
}
.button {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    background-color: rgba(48, 63, 159, 1);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}
.mask {
    background-image: url("assets/images/mask.png");
    bottom: 61%;
    right: 74%;
}
.history {
    background-image: url("assets/images/history.png");
    text-align: center;
    bottom: 37%;
    right: 80%;
}
.message {
    background-image: url("assets/images/message.png");
    text-align: center;
    bottom: 17%;
    right: 69%;
}
.setting {
    background-image: url("assets/images/setting.png");
    text-align: center;
    bottom: 5%;
    right: 49%;
}
.sign {
    background-image: url("assets/images/signout.png");
    text-align: center;
    bottom: 6%;
    right: 26%;
}
.unread {
    position: absolute;
    right: -0.3em;
    top: -0.3em;
    background-color: red;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    opacity: 0.85;
    text-align: center;
    font-weight: 900;
    color: white;
    /*font-size: 80%;*/
}
.button1 {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}